config.php
*.env
monitor_log.py.backup
monitor_log.py.backup_before_enterprise
monitor_log.py.bak_*
monitor_log.py.save*
monitior?log.py
nohup.out
bot.log
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.local/
.lesshst
.mysql_history
.gitconfig
export_for_pptx/
export_for_pptx.tar.gz
__pycache__/
*.pyc
